<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>header template</title>
</head>
<body>
<header class="p-3 text-bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a id="home" href="/" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>

            <div class="text-end">
                <span id="userinfo" class="text-white me-2">
                     <span id="userid" class="text-white me-2">userid</span>
                </span>
                <a role="button" id="login" class="btn btn-outline-light me-2">로그인</a>
                <a role="button" id="kakao-login" class="me-2">
                    <img alt="카카오 로그인" src="/images/kakao_login_medium.png"/>
                </a>
                <a role="button" id="logout" class="btn btn-warning">로그아웃</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>