<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>project-board</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <header>
            <h1>첫 번째 글</h1>
        </header>

        <aside>
            <p>pyo</p>
            <p><a href="mailto:gipyopark@gmail.com">gipyopark@gmail.com</a></p>
            <p><time datetime="2022-12-22T23:00:00">2022-12-22</time></p>
            <p>#spring</p>
        </aside>

        <section>
            <form>
                <textarea placeholder="댓글 쓰기..." rows="3"></textarea>
                <button type="submit">쓰 기</button>
            </form>

            <ul>
                <li>
                    <div>
                        <time><small>2022-12-22</small></time>
                        <strong>pyo</strong>
                        <p>
                            첫 번째 댓글
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <time><small>2022-12-22</small></time>
                        <strong>pyo</strong>
                        <p>
                            두 번째 댓글
                        </p>
                    </div>
                </li>
            </ul>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>
    </main>

    <footer id="footer"></footer>
</body>
</html>